<main>
    <div class="login-container">
        <div class="login-form-container">
            <div class="login-header">
                <h2>Log in to Notes</h2>
            </div>
            <form #logIn="ngForm" (ngSubmit)="loginFormSubmit(logIn)">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required placeholder="username" ngModel />
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required placeholder="password" ngModel />
                </div>
                <div class="input-group-submit">
                    <div><a routerLink="/register">Register</a></div>
                    <button type="submit">Log in</button>
                </div>
            </form>
        </div>
    </div>
</main>
