<header class="header-container">
    <nav>
        <div class="nav-brand">
            <a routerLink="/">
                <h3>Notes</h3>
            </a>
        </div>
        <div class="navigation">
            <ul>
                <li><a routerLink="/">Home<img class="pencil-link-overlay" src="/assets/img/pencil.svg" alt="pencil"></a></li>
                <li><a routerLink="/notes">Notes<img class="pencil-link-overlay" src="/assets/img/pencil.svg" alt="pencil"></a></li>
            </ul>
        </div>
    </nav>
    <div></div>
</header>
